- extends 'layout/base.html.haml'
- block body
  - if form.errors
    %p 
      = "Your username or passoword didn't match. Please try again"
  %form{'method': 'post', 'action': "{% url django.contrib.auth.views.login %}"}
    - csrf_token
    = form.as_p
    %input{'type': "submit", 'value': 'login'}
    %input{'type': "hidden", 'name': 'next', 'value': "/users/"}

